<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Noticias</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides pager *ngIf="showNotices" class="box-slider">
    <ion-slide (click)="viewNotice(noticeSlider)" *ngFor="let noticeSlider of noticesSlider">
      <div>
        <img src="{{ noticeSlider.featureMediaUrl }}" class="thumbnail-notice" >
      </div>
      <!--<h2>{{ noticeSlider.title.rendered }}</h2>-->
    </ion-slide> 
  </ion-slides>

  <ion-list *ngIf="showNotices" class="list-box">
    <ion-item (click)="viewNotice(notice)" class="item-notice" ion-item *ngFor="let notice of notices" >
      <p class="date-notice">{{ notice.date_notice }}</p>
      <h3 class="title-notice">{{ notice.title.rendered }}</h3>
      <div class="excerpt-box">
        <div [innerHTML]="notice.excerpt.rendered"></div>
        <div class="box-thumbnail-notice">
          <img src="{{ notice.featureMediaUrl }}" class="thumbnail-notice" >
        </div>
      </div>
    </ion-item>  
  </ion-list>
</ion-content>
