page-noticias {
    .loading-box {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;

        p {
            width: 100%;
        }
    }

    .box-slider {
        height: 30vh;

        h2 {
            position: absolute;
            bottom: 15px;
            width: 100%;
            text-shadow: 2px 2px 2px rgba(0,0,0,.5);
        }
    }

    .list-box {
        margin-top: 15px;
    }

    .item-notice {
        background: none;

        .date-notice {
            font-size: .7em;
        }

        .excerpt-box {
            display: flex;

            div {
                width: calc(100% - 60px);

                p.link-more {
                    display: none;
                }
            }
        }

        .label {

            h3.title-notice {
                width: calc(100% - 60px);
                white-space: pre-wrap;
                font-size: 1.1em;
            }

            p {
                white-space: normal;
            }
    
            .box-thumbnail-notice {
                width: 75px;
                margin-left: 3px;
            }
        }
    }
}
