page-misdatos {
  .header {
    img.user-thumbnail {
      width: 80px;
      border-radius: 3px;
      display: block;
      margin: auto;
      background: #191919;
      padding: 3px;
    } 

    h3 {
      text-align: center;
      font-size: 1.4em;
      font-weight: 300;
      color: color($colors, light);
    } 

    p.is-client {
      text-align: center;
      font-size: .9em;
      font-weight: 300;
      color: color($colors, light);
    }
  }
}
