page-codigoqr {

  h3 {
    font-weight: 800 !important;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 15px;
  }

  .text-information {
    color: color($colors, light);
  }

  .text-puntos {
    color: color($colors, light);
  }
}
