page-noticia {

  .feature-media-url {
    img {
      display: block;
      margin: auto;
    }
  }

  .title-notice {
    color: white;
  }

  .content-notice {
    p {
      color: white;
    }

    a {
      color: color($colors, primary)
    } 
  }

  .date-extra {
    font-size: 1em;
    color: white;
  }
}
